body
{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.main
{
    display: flex;
    flex-direction: column;
    gap: 60px;
  
}

.top-container
{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.logo
{
    color: #f9f1f8;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    flex: 1;
    font-weight: bold;
}

ul
{
    display: flex;
    flex: 1;
    color:#e5e7eb;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    font-size: 18px;
    gap: 15px;
  
}

.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 300px;
    padding: 6px 180px 0 40px;
}

img
{
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.main-text
{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtext
{
    font-size: 18px;
    color: #e5e7eb;
    font-family: 'Roboto', sans-serif;
}

.top-button
{
    border-radius: 10px;
    background-color: #3882f6;
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
    width: 140px;
    height: 40px;
    font-size: 20px;
}

.top-painel
{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.painel-text
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rounded-square
{
    width: 150px;
    height: 150px;
    border-width: 5px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 10px;
    
}

.information-section
{
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
}

.information-title
{
    font-weight: bolder;
    font-size: 38px;
    color: #1f2937;
}

.box
{
    font-size: 18px;
    color: grey;
    width: 150px;
    text-align: center;
}

.boxes-container
{
    display: flex;
    gap: 60px;
}

.quote-section
{
    background-color: #e5e7eb;
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quote
{
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    padding: 120px 300px 0 300px;
}

.author
{
    font-size: 28px;
    font-weight: bold;
    margin-left: 400px;
}

.call-section
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-banner
{
    display: flex;
    align-items: center;
}

.banner-inside
{
    border-radius: 10px;
    background-color: #3882f6;
    display: flex;
    gap: 100px;
    padding: 50px 130px;
}

.call-button
{
    
    border-radius: 10px;
    background-color: #3882f6;
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
    width: 140px;
    height: 40px;
    font-size: 20px;
    border-color: white;
}

.call-title
{
    font-weight: bold;
    color: white;
    font-size: 24px;
}

.call-text
{
    color: #e5e7eb;
}

.footer-text
{
    color: #e5e7eb;
    padding: 40px 0px;
}

.footer
{
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    display: flex;
}